@font-face{
    font-family:"Pretendard";
    src:url("../fonts/Pretendard-ExtraBold.woff2") format('truetype');
    font-weight:900;
    font-style:normal;
}

@font-face{
    font-family:"Pretendard";
    src:url("../fonts/Pretendard-Bold.woff2") format('truetype');
    font-weight:700;
    font-style:normal;
}


@font-face{
    font-family:"Pretendard";
    src:url("../fonts/Pretendard-SemiBold.woff2") format('truetype');
    font-weight:600;
    font-style:normal;
}

@font-face{
    font-family:"Pretendard";
    src:url("../fonts/Pretendard-Medium.woff2") format('truetype');
    font-weight:500;
    font-style:normal;
}

@font-face{
    font-family:"Pretendard";
    src:url("../fonts/Pretendard-Regular.woff2") format('truetype');
    font-weight:400;
    font-style:normal;
}

@font-face{
    font-family:"JejuMyeongjo";
    src:url("../fonts/JejuMyeongjo.ttf") format('truetype');
    font-weight:400;
    font-style:normal;
}